html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #316879;
}

::placeholder {
  color: #316879;
  opacity: 1; /* Firefox */
}

/* Text Align */
.text-c {
  text-align: center;
}

.text-l {
  text-align: left;
}

.text-r {
  text-align: right;
}

.text-j {
  text-align: justify;
}

.text-whitesmoke {
  margin-top: 100px;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  color: #316879;
}

#label_password {
  margin-top: 20px;
  color: white;
}

#label_email {
  margin-top: 20px;
  color: white;
}

textarea {
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
  width: 300px;
  padding: auto;
  border: 1px solid #424242;
}

.field input[type='text'] {
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
  width: 300px;
  padding: auto;
  border: 1px solid #424242;
}

.field select {
  border-radius: 5px;
  margin-top: 10px;
  width: 300px;
  padding: auto;
  border: 1px solid #424242;
}

input {
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
  width: 300px;
  padding: 10px;
  border: 1px solid #424242;
}

input:focus {
  transition: 0.2s;
  font-size: 18px;
}

input:hover {
  transition: 0.2s;
  font-size: 18px;
}

.actions input {
  margin-top: 40px;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 15%;
  background-color: #807182;
  color: #cfcfcf;
}

.field_with_errors {
  margin: auto;
}

#error_explanation {
  margin: auto;
  width: 300px;
}

.actions input[type='submit'] {
  width: auto;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 15%;
  background-color: #324960;
}

.actions input[type='submit']:hover {
  background-color: #1a2530;
  color: white;
}

.text-darkyellow {
  color: rgba(255, 235, 59, 0.432);
}

/* Lines */
.line-b {
  border-bottom: 1px solid #ffeb3b;
}

/* Buttons */
.button {
  border-radius: 3px;
}

.form-button {
  background-color: rgba(255, 235, 59, 0.24);
  border-color: rgba(255, 235, 59, 0.24);
  color: #e6e6e6;
}

.form-button:hover,
.form-button:focus,
.form-button:active,
.form-button.active,
.form-button:active:focus,
.form-button:active:hover,
.form-button.active:hover,
.form-button.active:focus {
  background-color: rgba(255, 235, 59, 0.473);
  border-color: rgba(255, 235, 59, 0.473);
  color: #e6e6e6;
}

.button-l {
  width: 100%;
}

/* Margins g(global) - l(left) - r(right) - t(top) - b(bottom) */
.margin-g {
  margin: 15px;
}

.margin-g-sm {
  margin: 10px;
}

.margin-g-md {
  margin: 20px;
}

.margin-g-lg {
  margin: 30px;
}

.margin-l {
  margin-left: 15px;
}

.margin-l-sm {
  margin-left: 10px;
}

.margin-l-md {
  margin-left: 20px;
}

.margin-l-lg {
  margin-left: 30px;
}

.margin-r {
  margin-right: 15px;
}

.margin-r-sm {
  margin-right: 10px;
}

.margin-r-md {
  margin-right: 20px;
}

.margin-r-lg {
  margin-right: 30px;
}

.margin-t {
  margin-top: 15px;
}

.margin-t-sm {
  margin-top: 10px;
}

.margin-t-md {
  margin-top: 20px;
}

.margin-t-lg {
  margin-top: 30px;
}

.margin-b {
  margin-bottom: 15px;
}

.margin-b-sm {
  margin-bottom: 10px;
}

.margin-b-md {
  margin-bottom: 20px;
}

.margin-b-lg {
  margin-bottom: 30px;
}

/* Container */
.container-content {
  background-color: #4fc3a1;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #324960;
  border-image: none;
  border-style: solid solid none;
  border-width: 10px 0;
  min-height: 250px;
}

/* Backgrounds */
.main-bg {
  background: white;
}

/* Login & Register Pages */
.login-container {
  max-width: 400px;
  z-index: 100;
  margin: 0 auto;
  padding-top: 20px;
}

.login.login-container {
  width: 300px;
}

.wrapper.login-container {
  margin-top: 20;
}

.logo-badge {
  color: #e6e6e6;
  font-size: 80px;
  font-weight: 800;
  letter-spacing: -10px;
  margin-bottom: 0;
}
